:root
{
    --semi-black: #404747;
    --red: #c30000;
    --hred: #e11414;
    --blue: #007cc3;
    --hblue: #289de0;
    --green: #1cf61c;
    --mugen: #788ccb;
}

.button
{
    font-family: "dsk";
    font-size: 0.6em;
    margin-top: 5px;
    padding: 5px 5px;
    width: -webkit-fill-available;
    border-color: var(--mugen);
    color: white;
    background-color: #000;
    border-radius: 10px;
    border-style: dashed;
    z-index: 4;
}

.button:hover
{
    background-color: rgba(255, 255, 255, 0.075);
    border-style: solid;
}

input[type="button" i]:disabled {
    border-color: var(--red) !important;
    border-style: solid !important;
    background-color: rgba(201, 0, 0, 0.348) !important;
    color:rgba(201, 0, 0, 0.348) !important;
}

input[type="button" i]:disabled:hover{
    border-color: var(--red) !important;
    background-color: rgba(201, 0, 0, 0.348) !important;
}

.export-window
{
    min-width: 100px;
    height: fit-content;
    width: fit-content;
    font-size: 0.8em;
    padding: 10px;
    gap: 3px;
    z-index: 3;
    background-color: #000;
    border-radius: 15px;
    border-style: dashed;
    border-color: var(--mugen);
    display: flex;
    flex-direction: column;
}

.export-item
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
}

.x:hover
{
    cursor: pointer !important;
}

.drag:hover
{
    cursor: move;
}

.absolute
{
    position: absolute;
}

html
{
    overflow: hidden;    
    
}

.popup
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border:none;
}

.popup-close
{
    display: none !important;
}

.gap
{
    gap: 7px;
}

.transparent
{
    color: rgba(255, 255, 255, 0.3) !important;
}

.logo-picture
{
    width: 2.2em;
    height: 2.2em;
}

.author-block
{
    background-color: rgba(0, 0, 0, 0.25) !important;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 5 !important;
    justify-content: center;
    align-items: center;
}

.monitoring{
    width: -webkit-fill-available; height: -webkit-fill-available;margin-left: 3em;position: fixed;
    border: none;
}

a
{
    color: var(--mugen);
    text-decoration: overline;
}

.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.fm
{
    font-family: "Font Awesome 6 Pro";
}

.menu
{
    padding: 0px !important;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.menu-item
{
    width: -webkit-fill-available;
    display: flex !important;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 0.8em;
}

.menu-item:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.menu-nobtn
{
    width: -webkit-fill-available;
    display: flex !important;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 0.8em;
}

.wfa
{
    width: -webkit-fill-available;
}

.btn-text
{
    font-family: "dsk";
    font-weight: 100;
    font-size: 0.8em;
}

.left-side
{
    float:left; 
    width:17%; 
    height: -webkit-fill-available;
    background-color: #000;
}

.right-side
{
    float:right; 
    width:83%; 
    height: 100%;
    background-size: cover;
}

input[type="text" i] 
{
    border-style: solid;
    background-color: #000;
    outline:none;
    border-color: var(--mugen);
    color: white;
    padding: 7px;
    font-size: 0.8em;
    border-radius: 10px;
    width: -webkit-fill-available;
}

.input-with-top-text
{
    display: flex;
    width: fit-content;
    padding: 3px;
    color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
}

i {
    font-style: normal;
}

html
{
    height: 100%;
    width: 100%;
}

body 
{
    background-color: #404747;
    color: white;
    font-family: "dsk";
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
}

.flex
{
    display: flex;
}

.fit
{
    width: fit-content;
}

.top-text
{
    font-size: 0.6em;
    border-radius: 5px;
    background-color: #000;
    border: 2px;
    top: 6px;
    position: relative;
    left: 10px;
    padding: 0px 5px;
    z-index: 4;
}

input::placeholder 
{
    color: rgba(255, 255, 255, 0.75);
}

.lamp
{
    padding: 5px;
    background-color: var(--red);
    border-radius: 50px;
    font-size: 0.58em;
    height: 11px;
    display: flex;
    align-items: center;
}

.on
{
    background-color: var(--blue) !important;
}

.off
{
    background-color: var(--red) !important;
}

.window
{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-left: 3em;
}

