body {
    width: -webkit-fill-available;
    background-color: #000;
}

.hwfa {
    height: -webkit-fill-available;
}

#outeam {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.wwfa {
    width: -webkit-fill-available;
}

#outgoing_team_table {
    min-width: 310px;
}

#ishn {
    max-width: 108px;
}

.red {
    background-color: #ebe33e !important;
    color: #000 !important;
}

.redfucking {
    background-color: #df3636 !important;
}

.offe {
    display: none;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records .w2ui-load-more, .w2ui-grid .w2ui-grid-body .w2ui-grid-frecords .w2ui-load-more {
    background-color: transparent !important;
    border-right: none !important;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records .w2ui-load-more > div, .w2ui-grid .w2ui-grid-body .w2ui-grid-frecords .w2ui-load-more > div {
    color: white !important;
    background-color: transparent !important;
    border-top: none !important;
    border-bottom: none !important;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records .w2ui-load-more > div:hover {
    background-color: var(--mugen) !important;
}