<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>eBank | Домашняя страница</title>

    <script src="{{url_for('static', filename='/client/scripts/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='/client/scripts/jquery.maskedinput.js')}}"></script>
    <script src="{{url_for('static', filename='/client/scripts/jquery-ui.js')}}"></script>
    <link href="{{url_for('static', filename='/client/css/main.css')}}" rel="stylesheet" />
    <!-- <link href="{{url_for('static', filename='/client/css/add.css')}}" rel="stylesheet" /> -->
    <link href="{{url_for('static', filename='/client/css/fa.css')}}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='/images/favicon.ico')}}">

    <script src="{{url_for('static', filename='/client/scripts/w2ui.js')}}"></script>
    <link href="{{url_for('static', filename='/client/css/w2ui.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/client/css/w2ui-my.css')}}" rel="stylesheet" />
    <script type="module">
        {% include 'base.js' %}
    </script>

    <style>
        @font-face {
            font-family: "dsk";
            src: local("dsk"),
            url("{{url_for('static', filename='/client/fonts/Disket-Mono-Regular.ttf')}}") format("truetype"),
            url("{{url_for('static', filename='/client/fonts/Disket-Mono-Bold.ttf')}}") format("truetype");
        }

        @font-face {
            font-family: "Font Awesome 6 Pro";
            src: local("Font Awesome 6 Pro"),
            url("{{url_for('static', filename='/client/fonts/fa-solid-900.woff2')}}") format("woff2");
        }
    </style>

</head>

<body>
    <div class="left-side">
        <div class="bg" style="pointer-events: none; position: absolute; top: 0px;left: 17%; width: -webkit-fill-available;background-size: contain;background-image: url({{url_for('static', filename='/images/nav-decoration_b1df2b94.png')}});height: 100%;background-repeat: no-repeat;"></div>
        <div class="logo gap">
            <img class="logo-picture" src="{{url_for('static', filename='/images/e-logo.png')}}" />
            <i class="fm fa-solid">bank</i>
        </div>
        <div class="menu">
            <div class="wfa">
                <li class="fa-solid fa-database menu-item btn-db" /><i class="btn-text">База</i>
            </div>
            <div class="wfa">
                <li class="fa-solid fa-users menu-item btn-team" /><i class="btn-text">Команды</i>
            </div>
            <div class="wfa">
                <li class="fa-solid fa-user-plus menu-item btn-add" /><i class="btn-text">Добавить</i>
            </div>
            <div class="wfa">
                <li class="fa-solid fa-file-export menu-item btn-export" /><i class="btn-text">Экспорт банкам</i>
            </div>
            <div class="wfa">
                <li class="fa-solid fa-area-chart menu-item btn-monitoring" /><i class="btn-text">Мониторинг</i>
            </div>
            <div class="wfa">
                <li class="fa-solid fa-at menu-item btn-at" /><i class="btn-text">Авторы</i>
            </div>
            <div class="wfa transparent">
                <li class="fa-solid fa-code menu-nobtn" /><i style="font-size: 0.56em; font-family: 'dsk';">version {{ ver }}</i>
            </div>
        </div>
    </div>
    <div style="background-image: url('/static//images/{{ bgimg }}');" class="right-side">
        <iframe style="" class="monitoring popup-close" loading="lazy" src="/monitoring"></iframe>
        <div class="window_db popup-close">
            <div class="toolbar">
                <li class="fa-solid fa-refresh toolbar pointer db_refresh"></li>
                <input id="id" class="toolbar search" type="text" placeholder="ID" />
                <input id="passport" class="toolbar search" type="text" placeholder="Серия и номер паспорта" />
                <input id="fam" class="toolbar search" type="text" placeholder="Фамилия" />
                <input id="nam" class="toolbar search" type="text" placeholder="Имя" />
                <input id="par" class="toolbar search" type="text" placeholder="Отчество" />
                <input id="card" class="toolbar search" type="text" placeholder="Карта" />
                <li class="fa-solid fa-trash toolbar pointer input_clear"></li>
                <div style="width: 250%;"></div>
            </div>
            <div class="window">
                
            </div>
        </div>
        <iframe style="" class="team popup-close" loading="lazy" src="/team"></iframe>
    </div>

    <div id="at" class="author-block popup-close">
        <div class="input-with-top-text">
            <i class="top-text">Авторы</i>
            <div class="export-window">
                <i>Creator: <a href="https://vk.com/damn_p">Pavel Nikolskij</a> 2023-2024 II 🔥💪</i>
            </div>
            <input tabindex="-1" class="button close-authors" type="button" value="Закрыть"/>
        </div>

    </div>

    <div id="export" class="input-with-top-text absolute drag popup-close">
        <i class="top-text">Экспорт банкам</i>
        <div id="table" class="export-window"></div>
        <input tabindex="-1" class="button clear" disabled type="button" value="Очистить"/>
        <input tabindex="-1" class="button export" type="button" value="Экспорт"/>
    </div>

    <iframe class="popup popup-close" loading="lazy" src="add/"></iframe>
</body>
<script src="{{url_for('static', filename='/client/scripts/main.js')}}"></script>

</html>