

<!DOCTYPE html>
<html>
<head>
    <title></title>

</head>

<body>
    
</body>

<script>
    window.uri = '{{ uri }}';
</script>

<script src="{{url_for('static', filename='/client/scripts/jquery.js')}}"></script>
<script src="{{url_for('static', filename='/client/scripts/jquery.maskedinput.js')}}"></script>
<script src="{{url_for('static', filename='/client/scripts/jquery-ui.js')}}"></script>
<script src="{{url_for('static', filename='/client/scripts/socket.io.js')}}"></script>
<script src="{{url_for('static', filename='/client/scripts/socket.666.js')}}"></script>

</html>